body {
    background: #c1d3f2;
}

.grid {
    max-width: 69em;
    list-style: none;
    margin: 10px auto;
    padding: 0;
}

.grid li {
    display: block;
    float: left;
    padding: 3px;
    width: 30%;
}

.grid li img {
    outline: none;
    border: none;
    display: block;
    max-width: 100%;
}