<div class="panel panel-info">
    <div class="panel-heading">
        <h3 ng-hide="editingJob">New Job</h3>
        <h3 ng-show="editingJob">Edit Job</h3>
    </div>
    <div class="panel-body">
        <div style="padding: 0 20px">
            <form name="newJobForm" class="form-horizontal" role="form" novalidate>
                <div class="form-group" ng-class="{
                    'has-error' : newJobForm.jobTitle.$invalid && !newJobForm.jobTitle.$pristine
                }">
                    <label for="jobTitle" class="col-sm-2 control-label">Job Title:</label>
                    <div class="col-sm-10">
                        <input name="jobTitle" type="text" class="form-control" required placeholder="Title of Job ..."
                               ng-model="job.title" ng-minlength="3" ng-maxlength="50" />
                        <span ng-show="newJobForm.jobTitle.$invalid && !newJobForm.jobTitle.$pristine" class="help-block">Job title is required.</span>
                        <span ng-show="newJobForm.jobTitle.$error.minlength" class="help-block">Job title is too short.</span>
                        <span ng-show="newJobForm.jobTitle.$error.maxlength" class="help-block">Job title is too long.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{
                    'has-error' : newJobForm.jobTitle.$invalid && !newJobForm.jobTitle.$pristine
                }">
                    <label for="jobCategory" class="col-sm-2 control-label">Category:</label>
                    <div class="col-sm-10">
                        <input name="jobCategory" type="text" class="form-control" required placeholder="Category of Job ..."
                               ng-model="job.title" ng-minlength="3" ng-maxlength="50" />
                        <span ng-show="newJobForm.jobCategory.$invalid && !newJobForm.jobTitle.$pristine" class="help-block">Job Category is required.</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>